<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title> ABD-app-p2 </title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<link href="/static/css/default.css" rel="stylesheet" type="text/css" media="all" />
		<link href="/static/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
		<link rel="shortcut icon" href="https://addons.thunderbird.net/user-media/addon_icons/161/161945-64.png?modified=1282587627"/>
	</head>
	<body>
    	{%block content%}{%endblock%}
    	<div id="copyright">
			<p>Autor: José Manuel Vela Fernández</p>
		</div>
  </body>
</html>
